CheckBoxBase {
    background-color: transparent;
}
CheckBoxBase::indicator {
    background-color: transparent;
    border: none;
}

CheckBoxBase QLabel {
    color: white;
    background-color: transparent;
    border: none;
}
CheckBoxBase QLabel:disabled {
    color: grey;
}