ToolBoxBase {
    background-color: transparent;
    padding: 0px;
    border: none;
	border-radius: 3px;
}

ToolPage {
	background-color: transparent;
    border: none;
}

ToolPage Folder {
    color: rgb(210, 222, 234);
	text-align: left;
	background-color: transparent;
	padding-top: 3px;
	padding-left: 12px;
	padding-bottom: 3px;
	padding-right: 6px;
    border: none;
}
ToolPage Folder:hover {
	background-color: rgba(201, 210, 222, 12);
}