LabelBase {
    color: rgb(45, 33, 21);
    background-color: transparent;
    padding: 0px;
    border: none;
}
LabelBase:hover {
}


QToolTip {
    color: rgb(45, 33, 21);
    background-color: transparent;
	border-width: 0px;
	border-style: solid;
}