QWidget {
    color: rgb(45, 33, 21);
}

QWidget#CentralWidget {
    background-color: qlineargradient(spread: pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(246, 246, 246, 246), stop:1 rgba(234, 234, 234, 246));
	border-width: 0px;
	border-style: solid;
}


QToolTip {
    color: rgb(45, 33, 21);
    background-color: transparent;
	border-width: 0px;
	border-style: solid;
}