ToolTipBase {
    background-color: rgba(24, 24, 24, 6);
    border: 1.2px solid rgba(54, 45, 33, 12);
    border-radius: 3px;
}
ToolTipBase[isTransparent=true] {
    background-color: transparent;
}


QLabel {
    color: rgb(45, 33, 21);
    background-color: transparent;
    border: none;
}